p.btn{
  background-color: orange; 
  border-radius: 10px; 
  padding: 5px 10px 5px 10px; 
  margin-top: 10px; 
  display: inline-flex;
  background-image:none;
}
p.btn a{
  color: white; 
  font-weight: bold; 
  font-size: smaller;
}
ul.pdlst{
	list-style-type: none;
    margin-left: unset;
}
ul.pdlst li{
	padding: .5em 1em .5em 0;
}
ul.pdlst li a{
	display:block;
}
ul.pdlst li a:hover{
	text-decoration:none !important;
	text-decoration-line:none;
}
ul.pdlst li a i.fa-download{
	float: right;
    margin-right: 20%;
}
